.devParingContainer {
    z-index: 99999 !important;
}

.swal2-formControl {
    width: fit-content;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
}

.swal2-label {
    margin-left: 2em;
    margin-right: 2em;
}
.submit-loading {
    z-index: 999;
    position: absolute;
    background: #38383852;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
}